<section class="container">
    <h3 class="medication-block"></h3>
   
    <ul>
        <li>{{name}}</li>
        <li>{{dosage}}</li>
        <li>{{frequency}}</li>
        <li>{{taken}}</li>
        <li>{{quantity}}</li>
    </ul>
    
</section>