<section class="med-container">
    <h3 class="medication-block"></h3>
   
    <ul >

       <label>Name: <li class="med-name"> {{name}}</li></label>
       <li class="med-id" > {{id}}</li>
        <li>dosage: {{dosage}}</li>
        <li>frequency: {{frequency}}</li>
        <btn id="taken-btn" class="taken-btn">{{taken}}</btn>
        <li>quantity: {{quantity}}</li>
        <button type="submit" class="delete-med-btn">Delete</button>
    </ul>
    
</section>

<script src="/js/delete-med.js"></script>
