<section class="med-container">
    <h3 class="medication-block"></h3>
   
    <ul >

       <li class="med-id">{{id}}</li>
        <li class="med-name">Name: {{name}}</li>
        <li>dosage: {{dosage}}</li>
        <li>frequency: {{frequency}}</li>
        <button id="taken-btn" class="taken-btn">{{taken}}</button>
        <li>quantity: {{quantity}}</li>
        <button type="submit" class="delete-med-btn">Delete</button>
    </ul>
    
    
</section>

<script src="/js/delete-med.js"></script>
