<section class="container">
    <h3 class="medication-block"></h3>
    <ul>
        <li>{{medication.name}}</li>
        <li>{{medication.dosage}}</li>
        <li>{{medication.frequency}}</li>
        <li>{{medication.taken}}</li>
        <li>{{medication.quantity}}</li>
    </ul>>
</section>